*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}.navbar{
    background-color: rgb(249, 251, 253);
    height: 13ch;
    
    
}
body{
    background-color:#e9ecef;;padding-left: 0px;height:100vh;
    
}  
.navdiv{
    display:flex;
    justify-content: space-between;
    padding-top: 20px;
    margin-left: 10px;
    
    
}
.logo{
    align-items: left; }
.logo img{
    position: fixed;height: 50px; padding-left: 12px;padding-top: 8px;
}
li{
    display: inline-block;font-family:Verdana, Geneva, Tahoma, sans-serif; color: rgb(164, 169, 173);
    margin-left: 15px; padding-left:0px;padding-right: 20px;padding-top:13px;}
li a{
    color: rgba(104, 111, 117, 0.616);
}
.icons i{
    display:inline-block; font-size: 27px;margin-right: 15px;padding-top: 15px;
}
.hero img{
    padding-left: 200px;padding-top:0px;height:650px;margin-top:-110px;
}
.info {
    display: flex;margin-left:2px;
}
.info h1{
    display: inline-flex;font-size:70px; font-weight: 50;padding-top: 70px;padding-left: 40px;flex-direction: column;font-family: Arial, Helvetica, sans-serif;
}
button{
    background-color: black;font-size: 25px;width:279px;margin-top: 40px;color: aliceblue;font-family: Arial, Helvetica, sans-serif;
}
